/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i');

 body {
     color: #666666;
     font-size: 15px;
     font-family: 'Quattrocento Sans', sans-serif;
     line-height: 1.80857;
     background-color: black;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 120% !important;
     color: #1f1f1f;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
     opacity: .8 
}
 a {
     color: #1f1f1f;
     text-decoration: none;
     outline: none;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 ul, li, ol{
     list-style: none;
     margin: 0px;
     padding: 0px;
}
 button:focus{
     outline: none;
     box-shadow: none;
}
 :focus {
     outline: 0;
}
 p{
     margin: 0px;
}

 
/* latest */
 .main-header{
    background-color: #26272C !important;
    display: flex;
    justify-content: space-around;
    height: 95px;
}
.first-left-section {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
nav.navbar.bootsnav {
 background-color: #26272C;
 
}
nav.navbar.bootsnav ul.nav li.active > a{
    color: #CFCB12;
}
nav.navbar.bootsnav ul.nav li.active > a:hover{
    color: #CFCB12;
}
nav.navbar.bootsnav ul.nav li > a:hover{
    color: #CFCB12;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover{
    color: #CFCB12;
}
nav.navbar.bootsnav ul.nav > li > a{
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 30px;
}
.black-bg{
    background-color: black;
}
.light-black-bg{
    background-color: #26272C;
}
.height-100vh{
    height: 100vh;
}
.white-text{
    color: #ffff;
}
.gray-text{
    color:#B3B3B3;
}
.padding-0{
    padding: 0px;
}
.left-side-ligt-button{
    height: 38px;
    width: 150px;
    border-radius: 50px;
    background-color: #CFCB12;
    border: 1px solid #CFCB12;
    color: white;
}
.left-side-dark-button{
    height: 38px;
    width: 150px;
    border-radius: 50px;
    background-color: #7B791F;
    border: 1px solid #7B791F;
    color: white;
}
.left-side-buttons{
    display: flex;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.line-height-1{
    line-height: 1;
}
.margin-top-20{
    margin-top: 20px;
}
.listing-right-item{
    display: flex;
    justify-content: space-between;
}
.listing-right-item img{
    height:89px;
    width: 43px;
}
.listing-right-item p{
    color: white;
    text-align: center;
    font-size: 12px;
}
.listing-right-item-wrapper{
    width: 120px;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.input-group-text{
    background-color: #CFCB12;
}
.listing-right-item input.form-control{
    background-color: #26272C !important;
    border: none;
}
.listing-right-item .input-group-text{
    border: none;
}
.cart-section-wrapper img{
    background-color: #CFCB12;
    width: 137px;
}
.card{
    border: none;
    background-color: transparent;
}
.card-selection .close-wrapper{
    height: 20px;
    width: 20px;
    background-color: #131218;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    margin-left: -3px;
}
.card.card-selection{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transform: scale(1.5);
    z-index: 2;
}
  .d-none{
    display: none;
}

.view.overlay
{
    background: #CFCB12;
}
.card-body {
    background-color: #26272C;
    color: white;
    padding:0.25rem;
}
.card-body h4{
    color: white;
    margin: 0px;
    padding: 0px;
}
.card-selection .view.overlay{
    background: rgb(19,19,19);
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(207,203,18,1) 100%);
}
.card-selection .card-popup {
    display: block !important;
}
.custom-control-label::before {
    background-color:white ;
    border: 1px solid white;
    height: 12px;
    width: 12px;
    left:-18px;
    top:0px;

}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #CFCB12 !important;
}
.custom-control-input:active~.custom-control-label::before{
    background-color: #CFCB12 ;
}
.custom-control-label{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-8{
    font-size: 8px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-top-8{
    margin-top: 8px;
}
.justify-content-between{
    justify-content: space-between;
}
.fa-times{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}
.navbar-toggler{
z-index: 2;
position: absolute;
top: 18px;
left: 74px;
margin-top: 29px !important;
background-color: #CFCB12;
color: white !important;
width: 30px;
height: 30px;
display: flex;
justify-content: center;
border-radius: 50% !important;
border: none;
}
.listing-right-item .active{
background-color: #CFCB12;
}
.custom-control-label::after{
    display: none;
}
@media (max-width: 767px){
.navbar-light .navbar-toggler {
    border-color: #d33b33;
    color: #010101;
    border-radius: 0px;
    margin-right: 7px;
    padding-top: 6px;
    padding-top: 6px;
    float: left;
    margin-top: 29px;
    background-color: #CFCB12;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    left: 44px;
}
}
@media (max-width: 425px) {
    .listing-right-item{
        flex-wrap: wrap;
    }
    .listing-right-item-wrapper{
        margin-top: 8px;
    }
    .left-side-buttons{
        flex-direction: row !important;
        justify-content: center;
    }
    .left-side-dark-button{
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .listing-right-item-wrapper{
        width: 50px !important;
        height: 100px;
    }
}
@media (max-width: 1024px) {
   .left-side-buttons{
     flex-direction: column;
   }
   .left-side-dark-button{
    margin-left: 0px !important;
    margin-top: 5px;
   }
   .left-side-ligt-button{
    width:109px;
   }
   .left-side-dark-button{
    width:109px;
   }
   .listing-right-item-wrapper{
    width: 76px;
    height: 100px;
   }
}

 