
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root{
  --bs-primary-color: black;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--bs-primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--bs-primary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.meron-color{
  color: #882f22;
}
.white-color{
  color: white;
}
.light-black-color{
  color: #363636;
}
.margin-bottom-0{
  margin-bottom: 0 !important;
}
.height-100vh{
  height: 100vh !important;
}
.container{
  max-width: 1280px;
}
/* margin-top */
.margin-top-30{
  margin-top: 30px;
}
.margin-top-120{
  margin-top: 120px;
}
/* margin-left */
.margin-left-135{
  margin-left: 135px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--bs-primary-color);
  border-top-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--bs-primary-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--bs-primary-color);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
 border-bottom: 1px solid #f5f5f5;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 26px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: var(--bs-primary-color);
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #0b2341;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--bs-primary-color);
}
nav li:hover::before {
  content: "";
  display: block;
  width: 50%;
  border-top: solid #791203 2px;
  position: absolute;
  bottom: -4px;
  box-sizing: content-box;
  left:22px;
}

.navbar li:hover>a {
  color: var(--bs-primary-color);
}getstarted,
 .getstarted:focus {
  background: var(--bs-primary-color);
  padding: 12px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0 !important;
}
li::marker{
  content: '';
  display: none;
}

 .getstarted:hover,
 .getstarted:focus:hover {
  color: #fff;
  background: var(--bs-primary-color);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--bs-primary-color);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.center-navbar{
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0b2341;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0b2341;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--bs-primary-color);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--bs-primary-color);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
}

#hero .carousel-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 82px;
  left: 50px;
  right: 50px;
}

#hero h2 {
  color: #fff;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  animation-delay: 0.4s;
  color: var(--bs-primary-color);
  margin-top: 10px;
  font-weight: 700;
}

@media (min-width: 1200px) {
  #hero p {
    width: 50%;
  }
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

.carousel-indicators{
  justify-content: start !important;
  display: flex;
  flex-direction: column;
  top: 45%;
  left: -14%;
}
.carousel-indicators li{
  margin-top: 34px;
}
#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  background: gray;
  overflow: hidden;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: var(--bs-primary-color);
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  margin-top: 1px;
  font-weight: 700;
  border-bottom: 1px solid black;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    text-align: center;
    top: 74px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #2e3192;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--bs-primary-color);
}

.section-title p span{
  color: black;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: var(--bs-primary-color);
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: var(--bs-primary-color);
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid var(--bs-primary-color);
}

.about .content .btn-learn-more:hover {
  background: var(--bs-primary-color);
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: var(--bs-primary-color);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #f9c6bb;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  z-index: 1;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #0b2341;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: #ed502e;
  border-color: #ed502e;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #ed502e;
}

.services .icon-box:hover .icon::before {
  background: #f1775d;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}
@media (max-width: 768px) {
  .service-box{
  width: 100%;
  }
}
.ri-check-double-line{
  color: var(--bs-primary-color);
}



.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(11, 35, 65, 0.9) 0%, rgba(11, 35, 65, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

.bi bi-facebook{
  color: white !important;
}




/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f6f9fd;
  min-height: 40px;
  margin-top: 82px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 74px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #0b2341;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #123a6d;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: black;
  border-top: 4px solid var(--bs-primary-color);
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background: #0a1e38;
}

#footer .footer-top .social-links a:hover {
  color: #fff;
  background: var(--bs-primary-color);
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--bs-primary-color);
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: var(--bs-primary-color);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: var(--bs-primary-color);
}

#footer .copyright {
  /* border-top: 1px solid #0f2f57; */
  text-align: center;
  /* padding-top: 30px; */
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.footer-sec-wrapper{
  display: flex;
  justify-content: space-between;

}
.footer-sec-link ul{
  display: flex;
  justify-content: space-between;
}
.footer-sec-link ul li{
  margin-right: 30px;
}
.footer-sec-link ul li a{
  color:white;
  text-decoration: underline;
}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

@media (max-width: 768px) {
 .footer-sec-wrapper,
 .footer-sec-link ul {
  display: block;
 }
 .footer-sec-link ul{
  text-align: center;
 }
 .footer-sec-link ul li{
  margin-right: 0;
 }
}
@media (max-width: 320px) {
.service-content{
  padding: 0px !important;
}
}
/* @media (max-width: 425px) {
  #footer .footer-top{
    text-align: center;
  }
  #footer .footer-top .footer-links ul li{
    justify-content: center;
  }
  } */



/* addeded */
.primary-text{
  color: var(--bs-primary-color) !important;
}
.bi-chevron-down{
  color: var(--bs-primary-color) !important;
}
.bi-chevron-down::before {
  content: "\f282";
  position: absolute;
  left: 100%;
  color: var(--bs-primary-color);
  top:16px;
}
/* #navbar li:hover > a{
  border-top: 2px solid var(--bs-primary-color);
} */
p span.slider-span-line{
  width: 2px;
  height: 25px;
  display: inline-block;
  background: var(--bs-primary-color);
  margin: -6px 1px;
}
i.bi.bi-arrow-right-circle{
  color: var(--bs-primary-color);
  font-size: 32px;
}
.main-head{
  color: black !important;
}
.main-sub-head{
  color: gray !important;
}
.carousel-button {
  display: flex;
  justify-content: start;
  align-items: center;

}
.carousel-button a{
  color: var(--bs-primary-color) !important;
}
.carousel-button a:hover{
  /* margin-bottom: -30px; */
  height:20px;

}

.footer-border{
  border-top:1px solid #2b2f32;
  padding-top: 10px;
}

.services {
  height: 100vh;
  background-image: url('../img/sectionbg_wrapper-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.video-box{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.small-video-box{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.services .video-box {
  min-height: 500px;
  position: relative;
}
.services .video-box h1,
.services .video-box h4{
  justify-content: center;
  text-align: center;
  display: flex;
  vertical-align: middle;
  top: 50%;
  position: absolute;
}
.services .small-video-box h1,
.services .small-video-box h4{
  justify-content: center;
  text-align: center;
  display: flex;
  vertical-align: middle;
  top: 50%;
  left: 33%;
  position: absolute;
  color: white;
}
.services .video-box {
  min-height: 500px;
  position: relative;
}
.services .video-box h4{
  margin-top: -28px;
}
.services .small-video-box{
  min-height: 500px;
  position: relative;
}
.services .content{
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: white;
}

.service-content{
  border-right:1px solid white;
  padding: 20px;
}
.service-content p{
  font-weight: 700;
}
.social-icons-service{
  display: flex;
  align-items: center;
}
.service-icon{
  margin-right: 15px;
  font-size: 20px;
}
.primary-bg{
  background-color: var(--bs-primary-color);
}

.services .container-fluid.aos-init.aos-animate{
  margin-top: -135px;
}

.card-box-c {
  position: relative;
}

.about-first{
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -132px;
}
.about-first h1 span{
  padding: 30px;
}
.about-first h1 {
  color: white;
}
.about-first a{
 color:#767ab8 !important;
 text-decoration: underline;
 cursor: pointer;
}


@media (max-width: 768px) {
  .card-box-c {
    margin-bottom: 2rem;
  }
  .services{
    height: auto;
  }
}

.card-header-c {
  padding: 0 1rem 1rem 1rem;
}

.card-body-c {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.card-body-c {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

@media (max-width: 767px) {
  .card-body-c {
    padding: 0;
  }
}

.card-footer-c {
  padding-left: 0.5rem;
}

.card-box-ico {
  padding: 1rem 3rem 1rem 2.5rem;
  border-top: 2px solid var(--bs-primary-color);
  background-color: white;
}

.card-box-ico span {
  font-size: 4rem;
  color: #000000;
}
.card-box-ico .bi{
 font-size: 45px;
 color: var(--bs-primary-color);
}
.title-c {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: -40px;
  color: black;
}

@media (max-width: 425px) {
  .title-c {
    font-size: 1.5rem;
  }
  .getstarted{
    margin-left: 0;
  }
}
@media (max-width: 768px) {
 
  .getstarted{
   padding: 3px 8px;
   font-size: 10px;
  }
}

@media (min-width: 768px) {
  .title-c {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .title-c {
    font-size: 20px;
  }
}
.content-service-style{
  color: #b1b1b3;
}
 /*** Project Portfolio ***/
 .nav-tabs.trending-filter .nav-link.active{
  background-color: transparent !important;
  border-color: transparent !important;
 }
 .nav-tabs.trending-filter  .nav-link{
  border: none !important;
 }
 .trending-filter .nav-link:focus-visible{
  box-shadow: none !important;
 }
 .cat-list ul{
  border: none !important;
 }
 .trending-filter li a{
  display: inline-block;
  font-weight: 800;
  color: #708da7;
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent;
  height: 60px;
}

.trending-filter li :hover,
.trending-filter li .active {
  color: black;
}
.trending-filter li .active::before{
  content: '';
  position: absolute;
  border-top: 6px solid #791203;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-top: 28px;
  margin-left: 19px;
}
.dis-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis-text-wrapper .dis-text::after{
  content: '';
  position: absolute;
  /* left: 0;
  right: 0;
  border-top: 1px solid #000;  */
  top: 71%;
  height: 1px;
  width: 40px;
  background-color: green;
  left: 39%;
}
.portfolio-item p{
  font-size: 10px;
}
.portfolio-item img {
  transition: .5s;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 34, 204, .9);
  /* transition: .5s; */
  opacity: 0;
}


.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}
.cat-list{
  display: flex;
  justify-content: space-between;
}
.cat-list h1{
  font-size: 20px;
  margin-left: 4px;
  font-weight: 800;
}
.cat-list ul li{
  margin-left: 4px;
  font-weight: 800;
}
.bi-grid-fill{
  color: #791203;
}